{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% if controller_name is empty %}
        <a href="{{ path('auteur_connect') }}">Connexion</a>
    {% else %}
        <a href="{{ path('auteur_disconnect') }}">Deconnexion</a><br>
        <a href="{{ path('b_d_index') }}">Voir tes BDs</a>
    {% endif %}
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Symfony/reader-saga/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Symfony/reader-saga/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>

    {% if bds is not empty %}
        {% for bd in bds %}

                <table>
                    <tr>
                        <th> <a href="{{ path('detail', {'titre': bd.titre})}}">{{ bd.titre }}</a></th>
                    </tr>
                    <tr>
                        <td><a href="{{ path('detail', {'titre': bd.titre})}}"><img width="150px" src=" {{ asset('comics/' ~ bd.FilePath) }}"></a></td>
                    </tr>
                </table>

        {% endfor %}
    {% else %}
        <p>Il n'y a pas d'oeuvre encore</p>
    {% endif %}
</div>
{% endblock %}
