{% extends 'base.html.twig' %}

{% block title %}BD{% endblock %}

{% block body %}
    <h1>BD</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ b_d.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ b_d.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ b_d.description }}</td>
            </tr>
            <tr>
                <th>Date_publication</th>
                <td>{{ b_d.datePublication ? b_d.datePublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <td><img width="100px" src=" {{ asset('comics/2ePages.jpg') }}"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('b_d_index') }}">back to list</a>

    <a href="{{ path('b_d_edit', {'id': b_d.id}) }}">edit</a>

    {{ include('bd/_delete_form.html.twig') }}
{% endblock %}
